<div class="container">
    <div style="text-align: center;" ><h1>Realtime Chat</h1></div>
    <div class="chatbox">
        
        
    </div>
    <div class="typefeildiv">
        <form action="" id="sendmessage">
            <input placeholder="Enter Your message here" id="textfeild" type="text">
            <input placeholder="Enter person name" id="clintname" type="text">
            <button class="sendbutton" type="submit" >Send</button>
        </form>
    </div>
</div>