<div style="background-color: blueviolet;width: 100vw;height: 100vh;display:flex;align-items: center;flex-direction: column;">
    <div class="chatbox">
        
        
    </div>
    <div class="typefeildiv">
        <form action="" class="typefeildiv1" id="sendmessage">
            <div style="flex:8;display: flex;flex-direction: column;padding-right: 1%;">
            <textarea style="width: 100%;" name="" id="textfeild" cols="30" rows="10" placeholder="Enter your message here"></textarea>
            <input style="width: 100%;" placeholder="Enter person name" id="clintname" type="text">
            </div>
            
            <div style="flex:1">
                <button class="btn btn-light sendbutton" type="submit" >Send</button>
            </div>
            
        </form>
    </div>
</div>