

.container{
    background-color: blueviolet;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


.join-room,.create-room{
    text-align: center;
    
}.button{
    background-color: rgb(221, 125, 7);
}.chatbox{
    margin-top: 50px;
    width: 80%;
    height: 70vh;
    border: 5px solid white;
    border-radius: 10px;
}.typefeildiv{
    width: 80%;
    height: fit-content;
    margin-top: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}#textfeild,#clintname{
    width: 78%;
    margin-top: 1vh;
    height: 5vh;
    float: left;
    
}.sendbutton{
    float: right;
    width: 15%;
    min-width: fit-content;
    
}.leftmessage{
    float: left;
    clear: both;
    max-width: 50%;
    width: fit-content;
    background-color: rgb(194, 188, 188);
    margin: 5px;
    word-wrap: break-word;
    /* overflow-x: auto; */
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}.rightmessage{
    float: right;
    clear: both;
    word-wrap: break-word;
    max-width: 50%;
    /* overflow-x: auto; */
    width: fit-content;
    background-color: rgb(194, 188, 188);
    margin: 5px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 5px;
}